p {
  font-family: Georgia;
  font-size: 17px;
  color: black:
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 25px;
  flex-grow: 1;
}

.logo img {
  width: 70px;
  height: 60px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-end;
}

nav ul {
  text-align: right;
  padding-right: 25px;
}

nav span {
  padding: 10px;
  display: inline-block;
}

nav a {
  color: black;
}

.main-container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}


.column.large {
  width: 630px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
}

.main-story .main-feature-photo {
  background-image: url("../images/img-story-main.png");
  display: flex;
  width: 630px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.feature-photo-1 {
  background-image: url("../images/img-story-1.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.feature-photo-2 {
  background-image: url("../images/img-story-2.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.feature-photo-3 {
  background-image: url("../images/img-story-3.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.content {
}
